<!DOCTYPE html>
<html>
<head>
  <title>Enter Credentials</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="/css/Enter-Credentials-Students.css" />
  <link rel="stylesheet" href="/css/global_ECS.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap" />
</head>
<body>
  <main class="attendio-desktop-credentials">
    <div class="rectangles">
      <div class="rectangles-child"></div>
      <div class="rectangles-item"></div>
      <div class="rectangles-inner"></div>
    </div>
    <div class="top-text">
      <img class="untitledattendio-new-logo-1" alt="" src="/images/attendio_logo.png" />
      <div class="enter-credentials">ENTER CREDENTIALS</div>
    </div>
    <div class="butons">
      <b class="username">ERP ID</b>
      <div class="enter-username">
        <input class="enter-username-child" type="number" required id="username" maxlength="8" minlength="8" />
      </div>
      <b class="username">PASSWORD</b>
      <div class="enter-username">
        <input class="enter-username-child" type="password" required id="password" />
      </div>
    </div>
    <button onclick="validate()" class="login-button" id="loginButton">
      <div class="login-button-child"></div>
      <div class="login-wrapper">
        <div class="login">LOGIN</div>
      </div>
    </button>
  </main>
  <script type="text/javascript">
    function validate() {
      var username = document.getElementById('username').value;
      var password = document.getElementById('password').value;
      if (username === '21511717' && password === '1234') {
        // Redirect to another page
        window.location.href = '/DS'; // Update the URL to the appropriate page
      } else {
        alert('Invalid credentials. Please try again.');
        // Add your desired error handling logic here
      }
    }
  </script>
</body>
</html>
