<!DOCTYPE html>
<html>

<head>
  <title>Scan-QR</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="/css/global_scan_qr.css" />
  <link rel="stylesheet" href="/css/Scan-QR.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;600&display=swap" />
  <script src="./node_modules/html5-qrcode/html5-qrcode.min.js"></script>

  <!-- 
  <style>
    /* CSS for fade-out animation */
    body {
      opacity: 1;
      transition: opacity 0.5s ease-out;
    }

    body.fade-out {
      opacity: 0;
    }
  </style>
  <script>
    function redirect() {
      document.body.classList.add('fade-out');
      setTimeout(function () {
        window.location.href = '../Attendance_Recorded/index.html'; // Replace 'target.html' with the desired destination page
      }, 300); // Adjust the delay to match the CSS transition duration (0.5s = 500 milliseconds)
    }

    // Wait for a few seconds and then call the redirect function
    window.onload = function () {
      setTimeout(redirect, 3000); // Replace '3000' with the desired delay in milliseconds (e.g., 3000 = 3 seconds)
    };
  </script> -->
</head>

<body>
  <div class="attendio-desktop-faculty-displ">
    <div class="rectangles">
      <div class="rectangles-child"></div>
      <div class="rectangles-item"></div>
      <div class="rectangles-inner"></div>
      <div class="rectangles-inner"></div>
    </div>
    <div class="camera">
      <div class="vector-parent">
        <img class="frame-child" alt="" src="/images/rectangle.svg" />
        <div class="scan-to-record">SCAN TO RECORD YOUR PRESENTEE</div>
      </div>
      <img class="icon-camera" alt="" src="/images/camera.svg" />
    </div>
    <button onclick="window.location.href='/DS';" class="stop-display" id="stopDisplay">
      <div class="stop-displaying">X</div>
    </button>
  </div>

  <script>
    var iconXCircle = document.getElementById("iconXCircle");
    if (iconXCircle) {
      iconXCircle.addEventListener("click", function (e) {
        // Please sync "Attendio desktop_faculty_home" to the project
      });
    }

    var stopDisplay = document.getElementById("stopDisplay");
    if (stopDisplay) {
      stopDisplay.addEventListener("click", function (e) {
        // Please sync "Attendio desktop_faculty_recorded" to the project
      });
    }
  </script>
</body>

</html>