@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }

  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}

@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }

  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/45%);
  }
}

.rectangles-child {
  width: 65.87%;
  right: 17.27%;
  bottom: -19.63rem;
  left: 16.86%;
  background-color: #a0b3c5;
  height: 53.94rem;
  transform: rotate(-6.08deg);
}

.rectangles-child,
.rectangles-inner,
.rectangles-item {
  position: absolute;
  transform-origin: 0 0;
}

.rectangles-item {
  width: 58.61%;
  right: 21.62%;
  bottom: -10.81rem;
  left: 19.77%;
  background-color: #576e8f;
  height: 56.31rem;
  transform: rotate(8.26deg);
}

.rectangles-inner {
  width: 64.1%;
  top: 0;
  right: 16.45%;
  left: 19.46%;
  background-color: var(--color-white);
  height: 33.58rem;
  transform: rotate(3.88deg);
}

.rectangles {
  position: absolute;
  width: 273.19%;
  right: -115.43%;
  bottom: -26.43rem;
  left: -57.76%;
  height: 105.68rem;
}

.untitledattendio-new-logo-1 {
  position: absolute;
  top: calc(50% - 85.5px);
  margin: 0 10 10 0;
  width: 18.75rem;
  height: 5.31rem;
  padding-left: 50px;
  object-fit: cover;
}

.enter-credentials {
  margin: 0;
  position: absolute;
  top: calc(50% + 38.5px);
  font-weight: 550;
  min-width: 400px;
}

.top-text {
  position: absolute;
  top: calc(50% - 271px);
  left: calc(50% - 185px);

  width: 30%;
  height: 10.69rem;
}

.username {
  align-self: stretch;
  position: relative;
  color: #5c7599;
}

.enter-username-child {
  border: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  bottom: 0;
  left: calc(50% - 131px);
  border-radius: var(--br-8xs);
  backdrop-filter: blur(4px);
  width: 16.38rem;
  height: 3.93rem;
  color: #364158;
  font-size: 24px;
  padding-left: 5px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.enter-password,
.enter-username {
  align-self: stretch;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  height: 3.93rem;
}



.enter-password {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.enter-password:hover {
  animation: 0.3s ease s 1 normal none scale-up;
  opacity: 1;
}

.enter-password:active {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}

.butons,
.login-button-child {
  position: absolute;
  backdrop-filter: blur(10px);
}

.butons {
  top: 27rem;
  left: calc(50% - 152px);
  border-radius: var(--br-xl);
  background-color: rgba(160, 179, 197, 0.4);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  width: 19rem;
  display: flex;
  flex-direction: column;
  padding: 1.31rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 0.94rem;
  font-size: var(--font-size-base);
  color: var(--color-lightslategray);
}

.login-button-child {
  bottom: 0;
  left: calc(50% - 130.04px);
  border-radius: var(--br-8xs);
  background-color: rgba(212, 228, 237, 0.5);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  width: 16.25rem;
  height: 3.93rem;
}

.login {
  position: absolute;
  bottom: 0;
  left: calc(50% - 36px);
  font-size: 1.56rem;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-slategray-100);
  text-align: center;
}

.login-button,
.login-wrapper {
  position: absolute;
  bottom: 1.12rem;
  left: calc(50% - 39.04px);
  width: 4.5rem;
  height: 1.81rem;
}

.login-button {
  border: #364158;
  border: 0;
  padding: 0;
  background-color: transparent;
  bottom: 9rem;
  left: calc(50% - 130px);
  width: 16.25rem;
  height: 3.93rem;
}

.login-button:hover {
  animation: 1s ease 0s 1 normal none shadow-drop;
  opacity: 1;
}

.login-button-child:hover {
  animation: 1s ease 0s 1 normal none shadow-drop;
  opacity: 1;
}

.login-button-child:active {
  animation: 1s ease 0s 1 normal none shadow-inset-center;
  opacity: 1;
}

.login-button:active {
  animation: 1s ease 0s 1 normal none shadow-inset-center;
  opacity: 1;
}

.attendio-desktop-credentials {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  width: 100%;
  height: 61.38rem;
  overflow: hidden;
  text-align: left;
  font-size: 2.5rem;
  color: var(--color-slategray-100);
  font-family: var(--font-roboto);
}