body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-xl: 1.25rem;

  /* Colors */
  --color-slategray-100: rgba(87, 110, 143, 0.5);
  --color-white: #fff;

  /* border radiuses */
  --br-xl: 20px;
  --br-8xs: 5px;
}
